body {
    background-color: black;
    font-family: Lexend Deca;
    color: #CBE4DE;
}

svg {
    background-color: white;
}

.navigasi_full_nav {
    position: fixed;
    top: 0;
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 99%;
    height: 70px;
    font-size: large;
    background-color: #50727B;

}

.namaWeb_div {
    margin-left: 35px;
}

li {
    list-style: none;
    display: inline;
    margin-right: 35px;
}

.navigasi_tugas {

    padding: 5px 7px;
    background-color: #35374B;
    border-radius: 7px;
    text-decoration: none;
    color: #FFFFFF;
}

.barPencarian {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 400px;
}

.tombolCari {
    padding: 5px 10px;
    margin-left: 7px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;
    background-color: #CBE4DE;
}

.login {
    background-color: #00f7ff;
    color: #2E4F4F;
    padding: 15px 20px;
    border: 1px;
    border-radius: 5px;
}

.pencarian_div {
    display: flex;
}

article {
    padding-top: 80px;
}

img {
    width: 160px;
    height: 160px;
    margin-right: 15px;
    align-items: center;

}

.list_artikel {
    max-width: 800px;
    margin: auto;
}

.artikel_ {
    display: flex;
    margin-top: 30px;
}

.artikel_:hover {
    transform: translateX(-45px);
}

span {
    color: #00f7ff;
    font-weight: bold;
}

.span1 {
    color: #00f7ff;
    background-color: #35374B;
    border-radius: 3px;
    font-weight: bold;
    padding: 4px;
}

h3 {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 50px;
}

aside {
    margin-top: 90px;
    padding: 15px;
    position: fixed;
    float: right;
    right: 0;
    border-radius: 5px;
    margin-right: 20px;
    max-width: 15%;
    background-color: #50727B;
    filter: drop-shadow(1px 1px 3px black);
}

input {
    background-image: url('gambar_source/cari.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 10px 10px 10px 40px;
    border: 1px;
    border-radius: 5px;
    width: 75%;
    margin-bottom: 10px;
}

.populer {
    font-family: sans-serif;
}

time {
    font-size: small;
    /* tanya */
    margin-bottom: 20px;
    color: #EEEEEE;
}

.populer_judul {
    margin-bottom: 0px;
    color: #FFFFFF;
    font-weight: 300;
}


/* tanya */
a.populer_ {
    margin-bottom: 50px;
}

.navigasi_full_nav a:hover {
    background-color: #00ffff;
    color: black;
}

.gelap {
    background-color: #35374B;
}

h1 {
    text-align: center;
    color: black;
    font-size: 80px;
    font-family: Frank Ruhl Libre;
    padding: 20px;
    margin: 0;
    background-color: white;
}

.judulfull {
    color: black;
    margin-top: 5px;
}

main span {
    color: black;
}

.artikelFull_anak {
    max-width: 80%;
    margin-left: 20px;
    padding-top: 40px;
}

.isiGambar p {
    color: black;
    word-spacing: 1px;
    line-height: 25px;
}

img.gambarFull {
    width: 350px;
    height: 350px;
    float: left;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 5px black);
    margin-right: 20px;
    margin-bottom: 15px;
}

.artikelFull_induk {
    background-color: white;
}